In [2349]:
import pandas as pd

In [2350]:
df = pd.read_csv("solicitudes_credito.csv", sep=";", index_col=0)

In [2351]:
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [2352]:
df = df.drop_duplicates()

In [2353]:
df.isna().sum()

sexo                        0
tipo_de_emprendimiento    102
idea_negocio                0
barrio                    102
estrato                     0
comuna_ciudadano            0
fecha_de_beneficio          0
monto_del_credito           0
línea_credito               0
dtype: int64

In [2354]:
df = df.dropna()

In [2355]:
df['tipo_de_emprendimiento'] = df['tipo_de_emprendimiento'].apply(lambda x: str(x).lower())

In [2356]:
df['sexo'] = df['sexo'].apply(lambda x: x.lower())

In [2357]:
# Idea de negocio

def clean_idea_negocio(row):
    row = row.lower()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.strip()

    return row

df['idea_negocio'] = df['idea_negocio'].apply(clean_idea_negocio)

In [2358]:
#df = df.drop_duplicates()

In [2359]:
# Barrio

""" def clean_barrio(row):
    row = row.lower()
    row = row.strip()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.replace(".", " ")
    row = row.replace(" ", "")

    return row

df['barrio'] = df['barrio'].apply(clean_barrio)
df['barrio'].value_counts() """

' def clean_barrio(row):\n    row = row.lower()\n    row = row.strip()\n    row = row.replace("-", " ")\n    row = row.replace("_", " ")\n    row = row.replace(".", " ")\n    row = row.replace(" ", "")\n\n    return row\n\ndf[\'barrio\'] = df[\'barrio\'].apply(clean_barrio)\ndf[\'barrio\'].value_counts() '

In [2360]:
# Estrato

# OK

In [2361]:
# Comuna

df['comuna_ciudadano'] = df['comuna_ciudadano'].astype(float)

In [2362]:
# Fecha

def clean_date(row):
    row_split = row.split("/")
    if len(row_split[0]) <= 2:
        row_split[0], row_split[-1] = row_split[-1], row_split[0]

    return "/".join(row_split)

df['fecha_de_beneficio'] = df['fecha_de_beneficio'].apply(clean_date)
df['fecha_de_beneficio']

0        2017/12/28
1        2018/03/16
2        2018/02/14
3         2016/09/8
4        2016/12/20
            ...
10913     2018/07/4
10914    2018/03/20
10915    2018/06/22
10918    2019/02/27
10919     2017/06/8
Name: fecha_de_beneficio, Length: 10497, dtype: object

In [2363]:
def clean_monto_credito(row):
    row = row.replace("$", "")
    row = row.replace(".00", "")
    row = row.replace(",", "")
    row = row.replace(" ", "")

    return row

df['monto_del_credito'] = df['monto_del_credito'].apply(clean_monto_credito)
df['monto_del_credito'] = df['monto_del_credito'].astype(int)

In [2364]:
def clean_linea_credito(row):
    row = row.lower()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.strip()

    return row

df["línea_credito"] = df["línea_credito"].apply(clean_linea_credito)

In [2365]:
df["línea_credito"].value_counts()

microempresarial          10307
empresarial ed.              71
agropecuaria                 56
juridica y cap.semilla       33
credioportuno                22
fomento agropecuario          5
solidaria                     1
soli diaria                   1
ayacucho formal               1
Name: línea_credito, dtype: int64

In [2366]:
len(df)

10497

In [2367]:
df = df.drop_duplicates()

In [2368]:
def clean_barrio(row):
    row = row.lower()
    row = row.strip()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.replace(".", " ")
    row = row.replace(" ", "")

    return row

df['barrio'] = df['barrio'].apply(clean_barrio)
df['barrio'].value_counts()

robledo               994
manriquecentralno1    488
sanjavierno1          428
aranjuez              384
belen                 377
                     ...
lahondonada             1
laaldea                 1
lasindependencias       1
oriente                 1
losangeles              1
Name: barrio, Length: 223, dtype: int64

In [2369]:
len(df)

10248

In [2370]:
df.isna().sum()

sexo                      0
tipo_de_emprendimiento    0
idea_negocio              0
barrio                    0
estrato                   0
comuna_ciudadano          0
fecha_de_beneficio        0
monto_del_credito         0
línea_credito             0
dtype: int64

-------------

In [2371]:
df.columns

Index(['sexo', 'tipo_de_emprendimiento', 'idea_negocio', 'barrio', 'estrato',
       'comuna_ciudadano', 'fecha_de_beneficio', 'monto_del_credito',
       'línea_credito'],
      dtype='object')

In [2372]:
df["tipo_de_emprendimiento"].value_counts()

comercio        5660
servicio        2216
industria       2208
agropecuaria     164
Name: tipo_de_emprendimiento, dtype: int64