In [532]:
import pandas as pd

In [533]:
df = pd.read_csv("solicitudes_credito.csv", sep=";", index_col=0)

In [534]:
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [535]:
df = df.drop_duplicates()

In [536]:
df.isna().sum()

sexo                        0
tipo_de_emprendimiento    102
idea_negocio                0
barrio                    102
estrato                     0
comuna_ciudadano            0
fecha_de_beneficio          0
monto_del_credito           0
línea_credito               0
dtype: int64

In [537]:
df = df.dropna()

In [538]:
df['tipo_de_emprendimiento'] = df['tipo_de_emprendimiento'].apply(lambda x: str(x).lower());

In [539]:
df['sexo'] = df['sexo'].apply(lambda x: x.lower());

In [540]:
# Idea de negocio

def clean_idea_negocio(row):
    row = row.lower()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.strip()

    return row

df['idea_negocio'] = df['idea_negocio'].apply(clean_idea_negocio)

In [541]:
df['barrio'].unique()

array(['manrique central no. 2', 'santa lucia', 'belen', 'robledo',
       '20 de julio', 'calasanz', 'altavista', 'manrique central no. 1',
       'buenos aires', 'aranjuez', 'san javier no.1', 'lopez de mesa',
       'kennedy', 'popular', 'villa guadalupe', 'la floresta', 'cordoba',
       'santa cruz', 'campo valdes no. 1', 'andalucia', 'maria cano ',
       'enciso', 'doce de octubre no.1', 'juan xxiii la quiebra',
       'cabecera san antonio ', 'la avanzada', 'castilla',
       'santa rosa de lima', 'barrio caicedo', 'prado', 'el socorro',
       'manrique oriental', 'santander', 'moravia', 'florencia',
       'la america', 'la pradera', 'la candelaria', 'las brisas',
       'ROBLEDO', 'la colina', 'la milagrosa', 'san pablo', 'GUAYABAL',
       'villa hermosa', 'la ladera', 'Sevilla', 'san german', 'sevilla',
       'el salvador', 'miranda', 'pedregal', 'la francia', 'palermo',
       'boston', 'CASTILLA', 'la loma', 'BARRIO DE JESUS',
       'santa elena central', 'palmitas', 'picachito', 'blanquizal',
       'bosques de san pablo', 'toscana', 'cabecera san cristobal',
       'san javier no.2', 'campo valdes no. 2', 'belencito', 'boyaca',
       'guayabal', 'picacho', 'el diamante', 'carpinelo', 'BELEN',
       'san benito', 'santa-lucia', 'la libertad', 'granizal', 'girardot',
       'belalcazar', 'santo domingo savio ', 'villatina', 'el_poblado',
       'villa niza', 'las granjas', 'Manrique Central No. 1',
       'san martin de porres', 'las palmas', 'trinidad', 'JUAN PABLO II',
       'versalles no. 1', 'tejelo', 'San Javier No.1', 'centro admtivo',
       'suburbano santa elena ', 'la esperanza', 'el pinal', 'bel¿n',
       'pablo vi', 'el_salvador', 'loreto', 'villa del socorro',
       'san diego', 'CAMPO VALDES NO. 1', 'tricentenario',
       'manrique-central-no.-1', 'Llanaditas', 'playon de los ',
       'campo_valdes_no._1', 'olaya herrera', 'cristo rey', 'el poblado',
       'laureles', 'sucre', 'la aguacatala', 'alfonso lopez', 'Robledo',
       'Playon De Los ', 'nuevos conquistadores', 'Cabecera San Antonio ',
       'san antonio', 'metropolitano', 'MANRIQUE CENTRAL NO. 2',
       'santa ines', 'el compromiso', 'santa margarita',
       'calasanz parte alta', 'eduardo santos', 'versalles no. 2',
       'progreso', 'llanaditas', 'la florida', 'aures no. 2',
       'barrio colon', 'Pedregal', 'Naranjal', 'Aranjuez', 'san_pablo',
       'suburbano altavista', 'universidad de ', '20_de_julio',
       'Santa Lucia', 'la isla', 'antonio nariño',
       'francisco antonio zea', 'cabecera_san_cristobal', 'la sierra',
       'MORAVIA', 'santa teresita', 'CABECERA SAN CRISTOBAL',
       'el pesebre', 'ARANJUEZ', 'POPULAR', 'bello horizonte',
       'la_floresta', 'san jose de la cima no. ', 'villa_hermosa',
       'Andalucia', 'las violetas', 'el chagualo', 'campo alegre',
       'jesus nazareno', 'parque norte', 'carlos e. restrepo', 'PABLO VI',
       'BUENOS AIRES', 'la esperanza no. 2', 'LORETO', 'Enciso',
       'bombona no. 1', 'san pedro', 'cabecera-san-cristobal',
       'el corazon', 'Castilla', 'Belen', 'fatima', 'aguas frias',
       'san josé de la montaña', 'la-floresta', 'villa liliam',
       'manrique_central_no._1', 'jardin botanico',
       'Nuevos Conquistadores', 'Carpinelo', '13 de noviembre',
       'Manrique Oriental', 'doce_de_octubre_no.1',
       'santo_domingo_savio_', 'Centro Admtivo', 'moscu no. 1',
       'los mangos', 'el salado ', 'barrio-caicedo', 'rosales', 'ENCISO',
       'la hondonada', 'santa monica', 'LA AMERICA', 'cataluna',
       'MANRIQUE ORIENTAL', 'la salle', 'oleoducto', 'SAN PABLO',
       'Barrio Caicedo', 'el salado', 'santa fe', 'el rodeo',
       'santo-domingo-savio-', 'la frontera', '20 DE JULIO',
       'Campo Valdes No. 1', 'villa flora', 'ANDALUCIA',
       'SAN JAVIER NO.1', 'cabecera_san_antonio_',
       'Cabecera San Cristobal', 'manrique-oriental', 'miraflores',
       'villa nueva', 'VILLA HERMOSA', 'antonio nari¿o',
       'Santa Elena Central', 'manrique-central-no.-2', 'la cruz',
       'san_javier_no.1', 'Doce De Octubre No.1', 'san-diego',
       'ocho de marzo', 'campo amor', 'pedregal alto', 'PLAYON DE LOS ',
       'el vergel', 'pedregal_alto', 'el triunfo',
       'juan-xxiii-la-quiebra', 'lopez-de-mesa', 'VILLA DEL SOCORRO',
       'miravalle', 'Pablo Vi', 'pajarito', 'Popular', 'Florencia',
       'MANRIQUE CENTRAL NO. 1', 'El Salvador', 'florida nueva',
       'FLORENCIA', 'Moravia', 'santa_cruz', 'El Chagualo',
       'los alcazares', 'manrique_central_no._2', 'monteclaro',
       'zona expansion san ', 'el estadio', 'palenque',
       'los cerros el vergel', 'San Diego', 'Buenos Aires',
       'loma de los bernal', 'hector abad gomez', 'la_pradera',
       'Villatina', 'san jose de la cima no.', 'campo-valdes-no.-1',
       'la loma oriental', 'moscu no. 2', 'el llano', 'san_benito',
       'CENTRO ADMTIVO', 'la volcana y guayabal', 'barrio_caicedo',
       'la palma', 'PEDREGAL', 'granada', 'alejandro echavarria',
       'mirador del doce', 'la-milagrosa', 'Palmitas', 'playon-de-los-',
       'LOS MANGOS', 'CABECERA SAN ANTONIO ', 'sin barrio',
       'la-aguacatala', 'la aldea', 'las independencias',
       'Manrique Central No. 2', 'El Socorro', 'manrique_oriental',
       'el-salvador', 'EDUARDO SANTOS', 'BOMBONA NO. 2',
       'Villa Del Socorro', 'Boston', 'gerona', 'oriente', 'brasilia',
       'san-jose-de-la-cima-no.-', 'JARDIN BOTANICO', 'juan pablo ii',
       'BLANQUIZAL', 'Altavista', 'barrio colombia', 'san bernardo',
       'san isidro', 'la oculta', 'veinte de julio', 'SUCRE', 'PICACHITO',
       'yarumalito', 'Santander', 'VILLATINA', 'barrio cristobal',
       'el_diamante', 'Santo Domingo Savio ', 'CAMPO VALDES NO. 2',
       'vrda. san antonio ', 'la cuchilla', 'BELENCITO', 'GRANIZAL',
       'francisco_antonio_zea', 'cabecera-san-antonio-', 'San German',
       'vrda. santa elena ', 'el rincon', 'vrda. palmitas ', 'naranjal',
       'san_javier_no.2', 'caribe', 'el progreso no.2', 'EL SOCORRO',
       'vrda. san cristobal ', 'la_milagrosa', 'altamira', 'buenos-aires',
       'fuente clara', 'suburbano barro ', 'el_socorro', 'el astillero',
       'betania', 'santa maria de los ', 'la-esperanza', 'bombona no. 2',
       'el-chagualo', 'el raizal', 'Belencito', 'villa turbay',
       'Zona Expansion San ', 'la-pradera', 'SANTA CRUZ', 'Alfonso-Lopez',
       'doce de octubre no.2', 'san-martin-de-porres', 'Cordoba',
       'SANTA ROSA DE LIMA', 'La Milagrosa', 'Lopez De Mesa',
       'las_palmas', 'Guayabal', 'KENNEDY', 'barro blanco', 'VILLA NIZA',
       'Toscana', 'BOMBONA NO. 1', 'francisco-antonio-zea', 'manila',
       'CRISTO REY', 'NUEVOS CONQUISTADORES', 'Las Brisas',
       'villa-hermosa', 'BARRIO CAICEDO', 'SAN JOSE DE LA CIMA NO. ',
       'La America', 'CALASANZ', 'las esmeraldas', 'la_sierra',
       'travesias', 'aures no.1', 'Santa Cruz', 'Villa Hermosa',
       'el-corazon', '20 De Julio', 'la-sierra', 'buenos_aires',
       'SANTANDER', 'centro-admtivo', 'la mansion', 'san joaquin',
       'los angeles'], dtype=object)

In [542]:
# Barrio

def clean_barrio(row):
    row = row.lower()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.strip()

    return row

df['barrio'] = df['barrio'].apply(clean_barrio)
#df['barrio'].value_counts()

In [543]:
df['barrio'].unique()

array(['manrique central no. 2', 'santa lucia', 'belen', 'robledo',
       '20 de julio', 'calasanz', 'altavista', 'manrique central no. 1',
       'buenos aires', 'aranjuez', 'san javier no.1', 'lopez de mesa',
       'kennedy', 'popular', 'villa guadalupe', 'la floresta', 'cordoba',
       'santa cruz', 'campo valdes no. 1', 'andalucia', 'maria cano',
       'enciso', 'doce de octubre no.1', 'juan xxiii la quiebra',
       'cabecera san antonio', 'la avanzada', 'castilla',
       'santa rosa de lima', 'barrio caicedo', 'prado', 'el socorro',
       'manrique oriental', 'santander', 'moravia', 'florencia',
       'la america', 'la pradera', 'la candelaria', 'las brisas',
       'la colina', 'la milagrosa', 'san pablo', 'guayabal',
       'villa hermosa', 'la ladera', 'sevilla', 'san german',
       'el salvador', 'miranda', 'pedregal', 'la francia', 'palermo',
       'boston', 'la loma', 'barrio de jesus', 'santa elena central',
       'palmitas', 'picachito', 'blanquizal', 'bosques de san pablo',
       'toscana', 'cabecera san cristobal', 'san javier no.2',
       'campo valdes no. 2', 'belencito', 'boyaca', 'picacho',
       'el diamante', 'carpinelo', 'san benito', 'la libertad',
       'granizal', 'girardot', 'belalcazar', 'santo domingo savio',
       'villatina', 'el poblado', 'villa niza', 'las granjas',
       'san martin de porres', 'las palmas', 'trinidad', 'juan pablo ii',
       'versalles no. 1', 'tejelo', 'centro admtivo',
       'suburbano santa elena', 'la esperanza', 'el pinal', 'bel¿n',
       'pablo vi', 'loreto', 'villa del socorro', 'san diego',
       'tricentenario', 'llanaditas', 'playon de los', 'olaya herrera',
       'cristo rey', 'laureles', 'sucre', 'la aguacatala',
       'alfonso lopez', 'nuevos conquistadores', 'san antonio',
       'metropolitano', 'santa ines', 'el compromiso', 'santa margarita',
       'calasanz parte alta', 'eduardo santos', 'versalles no. 2',
       'progreso', 'la florida', 'aures no. 2', 'barrio colon',
       'naranjal', 'suburbano altavista', 'universidad de', 'la isla',
       'antonio nariño', 'francisco antonio zea', 'la sierra',
       'santa teresita', 'el pesebre', 'bello horizonte',
       'san jose de la cima no.', 'las violetas', 'el chagualo',
       'campo alegre', 'jesus nazareno', 'parque norte',
       'carlos e. restrepo', 'la esperanza no. 2', 'bombona no. 1',
       'san pedro', 'el corazon', 'fatima', 'aguas frias',
       'san josé de la montaña', 'villa liliam', 'jardin botanico',
       '13 de noviembre', 'moscu no. 1', 'los mangos', 'el salado',
       'rosales', 'la hondonada', 'santa monica', 'cataluna', 'la salle',
       'oleoducto', 'santa fe', 'el rodeo', 'la frontera', 'villa flora',
       'miraflores', 'villa nueva', 'antonio nari¿o', 'la cruz',
       'ocho de marzo', 'campo amor', 'pedregal alto', 'el vergel',
       'el triunfo', 'miravalle', 'pajarito', 'florida nueva',
       'los alcazares', 'monteclaro', 'zona expansion san', 'el estadio',
       'palenque', 'los cerros el vergel', 'loma de los bernal',
       'hector abad gomez', 'la loma oriental', 'moscu no. 2', 'el llano',
       'la volcana y guayabal', 'la palma', 'granada',
       'alejandro echavarria', 'mirador del doce', 'sin barrio',
       'la aldea', 'las independencias', 'bombona no. 2', 'gerona',
       'oriente', 'brasilia', 'barrio colombia', 'san bernardo',
       'san isidro', 'la oculta', 'veinte de julio', 'yarumalito',
       'barrio cristobal', 'vrda. san antonio', 'la cuchilla',
       'vrda. santa elena', 'el rincon', 'vrda. palmitas', 'caribe',
       'el progreso no.2', 'vrda. san cristobal', 'altamira',
       'fuente clara', 'suburbano barro', 'el astillero', 'betania',
       'santa maria de los', 'el raizal', 'villa turbay',
       'doce de octubre no.2', 'barro blanco', 'manila', 'las esmeraldas',
       'travesias', 'aures no.1', 'la mansion', 'san joaquin',
       'los angeles'], dtype=object)

In [544]:
# Estrato

# OK

In [545]:
# Comuna

df['comuna_ciudadano'] = df['comuna_ciudadano'].astype(float)

In [546]:
# Fecha

def clean_date(row):
    row_split = row.split("/")
    if len(row_split[0]) <= 2:
        row_split[0], row_split[-1] = row_split[-1], row_split[0]

    return "/".join(row_split)

df['fecha_de_beneficio'] = df['fecha_de_beneficio'].apply(clean_date)
df['fecha_de_beneficio']

0        2017/12/28
1        2018/03/16
2        2018/02/14
3         2016/09/8
4        2016/12/20
            ...
10913     2018/07/4
10914    2018/03/20
10915    2018/06/22
10918    2019/02/27
10919     2017/06/8
Name: fecha_de_beneficio, Length: 10497, dtype: object

In [547]:
def clean_monto_credito(row):
    row = row.replace("$", "")
    row = row.replace(".00", "")
    row = row.replace(",", "")
    #row = row.replace(" ", "")

    return row

df['monto_del_credito'] = df['monto_del_credito'].apply(clean_monto_credito)
df['monto_del_credito'] = df['monto_del_credito'].astype(int)

In [548]:
def clean_linea_credito(row):
    row = row.lower()
    row = row.replace("-", " ")
    row = row.replace("_", " ")
    row = row.strip()

    return row

df["línea_credito"] = df["línea_credito"].apply(clean_linea_credito)

In [549]:
df["línea_credito"].value_counts()

microempresarial          10307
empresarial ed.              71
agropecuaria                 56
juridica y cap.semilla       33
credioportuno                22
fomento agropecuario          5
solidaria                     1
soli diaria                   1
ayacucho formal               1
Name: línea_credito, dtype: int64

In [550]:
len(df)

10497

In [551]:
df = df.drop_duplicates()

In [552]:
len(df)

10206

In [553]:
df.isna().sum()

sexo                      0
tipo_de_emprendimiento    0
idea_negocio              0
barrio                    0
estrato                   0
comuna_ciudadano          0
fecha_de_beneficio        0
monto_del_credito         0
línea_credito             0
dtype: int64

-------------

In [554]:
df.columns

Index(['sexo', 'tipo_de_emprendimiento', 'idea_negocio', 'barrio', 'estrato',
       'comuna_ciudadano', 'fecha_de_beneficio', 'monto_del_credito',
       'línea_credito'],
      dtype='object')

In [555]:
df["tipo_de_emprendimiento"].value_counts()

comercio        5636
servicio        2205
industria       2201
agropecuaria     164
Name: tipo_de_emprendimiento, dtype: int64